.git/
.repo/
gitmeta/
.gradle/
.gradle-home/
.gradle-home-*/
.idea/
.android-sdk/
.android-prefs/
.android-user/
.gradle-dist/
.kotlin/
.tmp/
build/
captures/
local.properties
*.apk
*.aab
*.iml
*.hprof
*.pid
*-test.log
build-*.log
app/build/
generated/
